body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: darkorange;
}

.navbar .navlink {
  padding-left: 20px;
  color: whitesmoke;
  text-decoration: none;
}

.container {
  padding: 20px;
}

.container h2 {
  font-size: xx-large;
}

.container form div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.container form div input, 
.create-recipe-form input,
.create-recipe-form textarea {
  width: 300px;
  font-size: x-large;
}

.container form .submit-button,
.create-recipe-form .submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: medium;
  width: 100px;
}

.create-recipe-form label {
  margin-top: 20px;
}

.logout {
  font-size: medium;
  margin-left: 20px;
}

.create-recipe-form {
  display: flex;
  flex-direction: column;
}

.create-recipe-title {
  margin-bottom: 0px;
}

.add-button {
  font-size: medium;
  width: 50px;
}

.recipes-list li {
  width: 500px;
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 20px;
}

.recipes-list li img {
  width: 300px;
}