body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: darkorange;
}

.navbar .navlink {
  padding-left: 20px;
  color: whitesmoke;
  text-decoration: none;
}