body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: darkorange;
}

.navbar .navlink {
  padding-left: 20px;
  color: whitesmoke;
  text-decoration: none;
}

.container {
  padding: 20px;
}

.container h2 {
  font-size: xx-large;
}

.container form div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.container form div input {
  width: 300px;
  font-size: x-large;
}

.container form button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: medium;
}

.logout {
  font-size: medium;
  margin-left: 20px;
}